.search_result_home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    row-gap: 30px;
    align-items: center;
    justify-items: center;
}

.noUnderline {
    text-decoration: none;
    color: inherit;
}

.search_box_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    row-gap: 7px;
    align-items: center;
    justify-items: center;
}

.movies_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
    margin: 0 auto;
}